## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
# from config import g_key
from config import weather_api_key

# Configure gmaps API key
# gmaps.configure(api_key=g_key)
gmaps.configure(api_key=weather_api_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Zheshart,RU,62.0731,49.5733,37.42,99,100,5.73,overcast clouds
1,1,Anshun,CN,26.2500,105.9333,67.50,54,0,7.78,clear sky
2,2,Ushuaia,AR,-54.8000,-68.3000,37.06,87,75,19.57,light intensity drizzle
3,3,Tasiilaq,GL,65.6145,-37.6368,21.27,88,100,7.20,light snow
4,4,Socorro,US,31.6546,-106.3033,72.59,26,14,30.53,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Bambous Virieux,MU,-20.3428,57.7575,79.21,88,75,11.50,light rain
9,9,Noumea,NC,-22.2763,166.4572,85.98,74,15,7.27,few clouds
12,12,Atuona,PF,-9.8000,-139.0333,79.54,79,19,17.67,few clouds
13,13,Hithadhoo,MV,-0.6000,73.0833,83.68,70,6,11.16,clear sky
15,15,Goundam,ML,16.4145,-3.6708,80.96,11,100,5.12,overcast clouds
18,18,Rikitea,PF,-23.1203,-134.9692,79.12,71,13,20.92,light rain
25,25,Kapaa,US,22.0752,-159.3190,77.18,83,76,4.00,broken clouds
27,27,Caravelas,BR,-17.7125,-39.2481,75.27,90,57,3.51,broken clouds
35,35,Grand Gaube,MU,-20.0064,57.6608,79.38,81,22,8.99,few clouds
36,36,Victoria,HK,22.2855,114.1577,83.17,78,8,10.00,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
# preferred_cities_df.notnull().sum()
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Bambous Virieux,MU,-20.3428,57.7575,79.21,88,75,11.50,light rain
9,9,Noumea,NC,-22.2763,166.4572,85.98,74,15,7.27,few clouds
12,12,Atuona,PF,-9.8000,-139.0333,79.54,79,19,17.67,few clouds
13,13,Hithadhoo,MV,-0.6000,73.0833,83.68,70,6,11.16,clear sky
15,15,Goundam,ML,16.4145,-3.6708,80.96,11,100,5.12,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
669,669,San Andres,CO,12.5847,-81.7006,80.62,78,40,11.50,scattered clouds
670,670,Samdari,IN,25.8167,72.5833,85.30,41,0,9.80,clear sky
682,682,Vila Velha,BR,-20.3297,-40.2925,76.95,93,20,2.30,few clouds
684,684,Micheweni,TZ,-4.9667,39.8333,79.99,81,99,9.75,light rain
686,686,Bandar-E Lengeh,IR,26.5579,54.8807,82.51,78,10,9.22,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Bambous Virieux,MU,79.21,light rain,-20.3428,57.7575,
9,Noumea,NC,85.98,few clouds,-22.2763,166.4572,
12,Atuona,PF,79.54,few clouds,-9.8000,-139.0333,
13,Hithadhoo,MV,83.68,clear sky,-0.6000,73.0833,
15,Goundam,ML,80.96,overcast clouds,16.4145,-3.6708,
18,Rikitea,PF,79.12,light rain,-23.1203,-134.9692,
25,Kapaa,US,77.18,broken clouds,22.0752,-159.3190,
27,Caravelas,BR,75.27,broken clouds,-17.7125,-39.2481,
35,Grand Gaube,MU,79.38,few clouds,-20.0064,57.6608,
36,Victoria,HK,83.17,clear sky,22.2855,114.1577,

In [8]:
len(hotel_df)

194

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": weather_api_key
    }
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
       
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except: (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Bambous Virieux,MU,79.21,light rain,-20.3428,57.7575,Vieux Grand Port
9,Noumea,NC,85.98,few clouds,-22.2763,166.4572,Nouméa
12,Atuona,PF,79.54,few clouds,-9.8000,-139.0333,Atuona
13,Hithadhoo,MV,83.68,clear sky,-0.6000,73.0833,Addu City
15,Goundam,ML,80.96,overcast clouds,16.4145,-3.6708,Goundam

In [11]:
# Create the output file (CSV).
output_data_file = "Weather_Database/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))