In [16]:
# Import the dependencies.
# %matplotlib 
import pandas as pd
import requests
# Import the API key.
from config import g_key 
import gmaps
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-04-03 18:03:13,-46.1927,168.8643,44.42,98,69,1.83
1,1,Fukue,JP,2022-04-03 18:03:14,32.6881,128.8419,55.44,56,0,17.78
2,2,Busselton,AU,2022-04-03 18:03:14,-33.6500,115.3333,63.16,84,50,15.41
3,3,Kapaa,US,2022-04-03 18:03:14,22.0752,-159.3190,75.18,86,62,5.01
4,4,Atuona,PF,2022-04-03 18:03:15,-9.8000,-139.0333,79.54,70,91,21.52

In [18]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudines
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kapaa,US,2022-04-03 18:03:14,22.0752,-159.3190,75.18,86,62,5.01
4,4,Atuona,PF,2022-04-03 18:03:15,-9.8000,-139.0333,79.54,70,91,21.52
5,5,Rikitea,PF,2022-04-03 18:03:15,-23.1203,-134.9692,76.62,65,52,9.10
9,9,Muisne,EC,2022-04-03 18:03:17,0.6000,-80.0333,81.64,76,91,10.00
12,12,Geraldton,AU,2022-04-03 18:03:04,-28.7667,114.6000,72.01,88,75,17.27
17,17,Bambous Virieux,MU,2022-04-03 18:03:19,-20.3428,57.7575,78.22,78,56,13.76
18,18,Kudahuvadhoo,MV,2022-04-03 18:03:20,2.6708,72.8944,83.26,62,11,1.77
20,20,Hilo,US,2022-04-03 18:03:20,19.7297,-155.0900,74.25,97,87,1.01
21,21,Cayenne,GF,2022-04-03 18:00:09,4.9333,-52.3333,84.09,1,100,10.36
28,28,Port Shepstone,ZA,2022-04-03 18:03:23,-30.7414,30.4550,73.22,86,86,4.63

In [25]:
preferred_cities_df.count()

City_ID       222
City          222
Country       222
Date          222
Lat           222
Lng           222
Max Temp      222
Humidity      222
Cloudiness    222
Wind Speed    222
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3             Kapaa      US     75.18  22.0752 -159.3190
4            Atuona      PF     79.54  -9.8000 -139.0333
5           Rikitea      PF     76.62 -23.1203 -134.9692
9            Muisne      EC     81.64   0.6000  -80.0333
12        Geraldton      AU     72.01 -28.7667  114.6000
17  Bambous Virieux      MU     78.22 -20.3428   57.7575
18     Kudahuvadhoo      MV     83.26   2.6708   72.8944
20             Hilo      US     74.25  19.7297 -155.0900
21          Cayenne      GF     84.09   4.9333  -52.3333
28   Port Shepstone      ZA     73.22 -30.7414   30.4550

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df[:5].iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try: hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
params = {
    "radius": 5000,
    "type": "lodging",
    "location": [40, -92],
    "key": g_key}
requests.get(base_url, params=params)
# print(hotels)
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kapaa,US,75.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Atuona,PF,79.54,-9.8000,-139.0333,Villa Enata
5,Rikitea,PF,76.62,-23.1203,-134.9692,People ThankYou
9,Muisne,EC,81.64,0.6000,-80.0333,Quinta Samay
12,Geraldton,AU,72.01,-28.7667,114.6000,Broadwater Mariner Resort

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
len(hotels["results"])

20

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))